* {
// border: 1px red dashed;
}



body {
 background: grey;
}

.container-fluid {
}

.main-box {
background: orange;
 margin: 50px;
 border: 5px black solid;
 padding: 10px;
}

#left-quote {
/*   margin-top: 30px; */
}

.center {
 float: none;
 margin-left: auto;
 margin-right: auto;
}

#quote-box {
 padding: 0 0 10px 0;
}


#tweet-quote {
/*   display: inline-block;
 border: 2px solid blue;
 border-radius: 5px;
 height: 30px;
 font-color: #fff; */
 display: block;
 width: 110px;
 margin-top: 50px;

}

#quote-button {
   float: right;
   display: inline;

}
