* {
   // border: 1px red dashed;
}

body {
   background: grey;
}

.main-box {
   background: orange;
   margin: 50px;
   border: 5px black solid;
   padding: 10px;
}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
}

.quote-box {
   padding: 0 0 0 50px;
}

.quote-div {
   clear: both;
}
   .quote-div p {
      text-align: right;
   }

.quote-icon-left-div {
   margin: 15px 0 0 0;
}

.tweet {
   clear: both;
   float: right;
   margin: 15px 0 0 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
